/* --1. HEADER-- */

header {

  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: black;
  color: white;
  text-align: center;
 }

/* --1.1 LOGO-- */
.logo {
  flex: 1;
  padding-left: 20px;
}

.light-mode .logo h1 {
  color: #8cb4ff; /* Cor da logo em branco no modo claro */
}

.dark-mode .logo h1 {
  color: #8cb4ff; /* Cor da logo em branco no modo claro */
}

/* --1.2 MENU-- */
.menu {
  flex: 2;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  
}

nav li {
  padding: 10px;
  display:  flex;
  align-items: center;
}

nav li a {
  color: white;
  text-decoration: none;
  }

.light-mode nav li a {
  color: #cac3c8; /* Fontes em branco no modo claro */
}

/* --1.3 Ícone de menu (hamburger) para dispositivos móveis-- */

.menu-icon {
  display: block;
  cursor: pointer;
  padding: 20px;
  background: black;
  margin-left: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white; /* Cor dos ícones no modo claro */
  margin: 5px 0;
}

@media only screen and (min-width: 768px) {
.menu-icon {
  display: none; /* Ocultar o ícone de menu em telas maiores que 768 pixels */
}

.menu {
 display: flex; /* Mostrar o menu completo em telas maiores que 768 pixels */
 }
}

/* Ocultar o menu em dispositivos móveis por padrão */
@media only screen and (max-width: 768px) {
.menu {
 display: flex;
 position: absolute;
 top: 60px; /* Posicione o menu abaixo do header ou onde preferir */
 left: 0;
 right: 0;
 background-color: white; /* Cor de fundo do menu */
}

.menu.show {
  display: block; /* Exibir o menu quando o ícone de menu for clicado */
}

.menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: black; /* Cor de fundo do menu */
  position: absolute;
  top: 60px;
  right: 0; /* Ajuste a posição horizontal conforme necessário */
  z-index: 100; /* Garanta que o menu fique acima do header e do ícone */
  width: 100%; /* Ocupar a largura total da tela */
  text-align: center;
}

.menu ul li {
  padding: 15px;
}

.menu ul li a {
  color: #cac3c8;
  text-decoration: none;
  align-items: center;
  justify-content: center;
 }
}

/* --1.5 Ícones no canto direito-- */
header a {
  position: relative;
  display: flex;
  margin-left: 10px; /* Espaço de 10 pixels entre os ícones */
  margin-right: 20px;
  font-size: 20px;
  color: #cac3c8
;
  align-items: center;
}
.light-mode header a {
  color: #cac3c8; /* Cor dos ícones no modo claro */
  margin-right: 10px 5;
  margin-left:  0;
  margin-top: 10;
  justify-content: center;
  position: relative;
  align-items: center;
}

.dark-mode header a {
  display: flex;
  color: #cac3c8; /* Cor dos ícones no modo claro */
  margin-right: 10px 5;
  margin-left:  0;
  margin-top: 10;
  justify-content: center;
}

#modoBotao,
#idiomaBotao {
  background-color: #313136; /* Cor de fundo quando estiver ativo */
  color: #cac3c8;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%; /* Bordas arredondadas para formar um círculo */
  align-items: center;
}

#modoBotao {
  margin-right: 20px; /* Espaço de 20 pixels à direita */
  margin-left: 10px; /* Espaço de 10 pixels à esquerda */
  align-items: center;
  position: relative;
  text-align: center;
}

#idiomaBotao {
  margin-left: 50px; /* Espaço de 50 pixels à esquerda */
}

/* --3 BODY-- */

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  color: white;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Adicione uma classe "content-container" para limitar a largura do conteúdo */
.content-container {
  max-width: 800px;
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  padding: 20px;
  flex:  1;
}

.light-mode {
  background-color: #f5f5f5; /* Cor de fundo branco no modo claro */
  color: black; /* Cor do texto em preto no modo claro */
}

/* --3.1 Cor de fundo preto no modo escuro-- */
.dark-mode {
  background-color: #0e0e35; /* Cor de fundo azul escuro no modo escuro */
}

/* --3.2 Cor de fundo branco no modo claro-- */

.light-mode body {
  color: black;
  background-color: white;
}

/* --6. BANNER-- */

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 480px;
}

.banner-2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 480px;
}

.banner img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  filter: blur(8px);
}

.banner-2 img {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  filter: blur(2px);
  filter: brightness(0.3)
}

.banner-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-width: 600px;
}

.banner-2-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  max-width: 600px;
}

.banner-texto h1 {
  font-size: 36px;
  margin-bottom: 20px;
  white-space: normal; /* Impede que o título seja quebrado em várias linhas */
  overflow: hidden; /* Oculta o texto que excede a largura da caixa */
  text-overflow: ellipsis; /* Adiciona reticências (...) para indicar texto truncado */
}

.banner-2-texto h1 {
  font-size: 36px;
  margin-bottom: 20px;
  white-space: normal; /* Impede que o título seja quebrado em várias linhas */
  overflow: hidden; /* Oculta o texto que excede a largura da caixa */
  text-overflow: ellipsis; /* Adiciona reticências (...) para indicar texto truncado */
}

.banner-texto .en {
  font-size: 24px;
}

.banner-2-texto .en {
  font-size: 24px;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner-content-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.banner-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner-2-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner-content p {
  font-size: 18px;
}

.banner-2-content p {
  font-size: 18px;
}

/* CSS para as caixas */
.caixas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 800px;
  margin: 40px auto;
}

.caixa {
  max-width: 300px; /* Define a largura máxima para a caixa */
  padding: 20px;
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #000000;
  color: black;
}

.caixa h3 {
  font-size: 18px;
  margin-bottom: 10px;
  white-space: normal; /* Permite que o título seja quebrado em várias linhas */
}

.caixa p {
  font-size: 14px;
  white-space: normal; /* Permite que a descrição seja quebrada em várias linhas */
  color: black; /* Define a cor do texto dentro das caixas para preto */
}


.case-success-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espaçamento entre as colunas */
  flex-wrap: wrap;
  max-width: 800px;
  margin: 40px auto;
}

.case-success-item {
  text-align: center;
  max-width: 300px;
}

.case-success-item img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

/* FOOTER OU RODAPE */

.centralizar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* Defina a distância do body para o footer */
  margin-bottom: 50px; /* Defina a distância do body para o footer */
  background-color: black; /* Altere a cor de fundo do footer, se necessário */
  color: white; /* Altere a cor do texto do footer, se necessário */
  height: 100px; /* Defina a altura desejada para o footer */
}

/* -- Adicione estilos para o texto no footer -- */
.footer-content p {
  font-size: 14px;
  margin: 5px;
  align-items: flex-end;
}

/* Adicionar uma classe para ocultar elementos */
.hidden {
  display: none;
